<html>
<head>
<!-- Library -->
<script src="lib/angular.js" charset="utf-8"></script>
<script src="lib/ui-bootstrap-tpls-0.11.0.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="lib/bootstrap.css"></link>
<!-- Application -->
<script src="CodeObject.js" charset="utf-8"></script>
<script src="names.js" charset="utf-8"></script>
<script src="address.js" charset="utf-8"></script>
<script src="date.js" charset="utf-8"></script>
<script src="phone.js" charset="utf-8"></script>
<script src="customerApp.js" charset="utf-8"></script>
<script src="customerController.js" charset="utf-8"></script>
<style>
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>
</head>

<body data-ng-app="customerApp" data-ng-controller="customerController">

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<form class="form-inline">
			<div class="btn-group">
				<button 
					type="button" class="btn btn-default" 
					data-ng-repeat="column in columns | filter: {visible:false}"
					data-ng-click="column.visible = true"
				>{{column.title}}</button>
			</div>
		</form>
	</div>
</nav>

<br /><br/ ><br/ ><!-- spacer to move table underneath nav bar -->

<table class="table table-condensed table-hover">
	<tr>
		<td>Generate</td>
		<td>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="generateNameCount">Count</label>
					<input type="number" size="5" class="form-control" id="generateNameCount" placeholder="Count" data-ng-model="nameCount">
				</div>
				<div class="form-group">
					<label class="sr-only" for="generateNamePattern">Pattern</label>
					<input type="text" size="5" class="form-control" id="generateNamePattern" placeholder="Pattern" data-ng-model="namePattern">
				</div>
				<button class="btn btn-primary" data-ng-click="makeCustomers();">Generate</button>
				<button class="btn"             data-ng-click="init();">Reset</button>
			</form>
		</td>
	</tr>
</table>

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th data-ng-repeat="column in columns | filter: {visible:true}">{{column.title}}</th>
		</tr>
	</thead>
	<tr data-ng-repeat="row in data">
		<td data-ng-repeat="column in columns | filter: {visible:true}">{{column.content(row)}}</td>
	</tr>
</table>

</body>
</html>
