<html>
<head>
<!-- Library -->
<script src="lib/angular.js" charset="utf-8"></script>
<script src="lib/ui-bootstrap-tpls-0.11.0.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="lib/bootstrap.css"></link>
<!-- Application -->
<script src="CodeObject.js" charset="utf-8"></script>
<script src="names.js" charset="utf-8"></script>
<script src="address.js" charset="utf-8"></script>
<script src="date.js" charset="utf-8"></script>
<script src="phone.js" charset="utf-8"></script>
<script src="customerApp.js" charset="utf-8"></script>
<script src="customerController.js" charset="utf-8"></script>
<style>
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>
</head>

<body data-ng-app="customerApp" data-ng-controller="customerController">

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <ul role="navigation" class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Add Column <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li
						data-ng-repeat="column in columns | filter: {visible:false}"
						data-ng-click="column.visible = true"
					><a href="#">{{column.title}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Set Name Pattern <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li
						data-ng-repeat="slug in namePatternOptions"
						data-ng-click="setNamePattern(slug)"
					><a href="#">{{slug}}</a></li>
                </ul>
            </li>
			<li><a href="#">
				<form class="form-inline">
					<div class="form-group">
						<label class="sr-only" for="generateNameCount">Count</label>
						<input type="number" size="5" class="form-control" id="generateNameCount" placeholder="Count" data-ng-model="nameCount">
					</div>
				</form>
			</a></li>
        </ul>
        <ul role="navigation" class="nav navbar-nav navbar-right">			
			<li><a href="#" data-ng-click="makeCustomers();">Generate</a></li>
			<li><a href="#" data-ng-click="init();">Reset</a></li>
        </ul>	
</nav>

<br /><br/ ><br/ ><br/ ><!-- spacer to move table underneath nav bar -->

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th data-ng-repeat="column in columns | filter: {visible:true}">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">{{column.title}}</a>
					<ul class="dropdown-menu">
						<li
							data-ng-click="column.visible = false"
						><a href="#">Remove</a></li>
					</ul>
				</div>
			</th>
		</tr>
	</thead>
	<tr data-ng-repeat="row in data">
		<td data-ng-repeat="column in columns | filter: {visible:true}">{{column.content(row)}}</td>
	</tr>
</table>

</body>
</html>
